<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .container_1 {
            width: 100%; /* specify the width of the container */
            height: 33%; /* specify the height of the container */
            align-items: center; /* center the container vertically within the parent element */
            justify-content: center; /* center the container horizontally within the parent element */
            color: white;
            text-align: center;
        }
    </style>
  </head>
    <body> 
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Delete</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                <li  class="nav-item active">
                    <a class="nav-link" href="#section_1">Owner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section_2">Customers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#section_3">Artist</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#section_4">Painting</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#section_5">Hire</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#section_6">Owns</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="Home_Admin.html">Home</a>
                </li>

                </ul>
            </div>
        </nav>
        <div style = "background-image: url('https://i.pinimg.com/564x/9f/5a/21/9f5a2158dee8b0c42a330b6d32b7bed1.jpg'); background-repeat: repeat-x; background-position: center; background-size: contain; ">
            <div style = "background-color: rgba(133, 133, 133, 0.614);">
                <div>
                    <h1 style = "text-align: center; color: rgb(253, 253, 253); padding-top:2%" id = "section_1" >Delete from Owner Table</h1><br>
                    <h3 style = "text-align: center; color: rgb(253, 253, 253); padding-top:3%; padding-bottom: 3%;" >Condition/s with which a record is to be deleted</h3>
                </div>
                    <div class = "container_1" >
                        <label for="textfield" style = "padding-top:3%">Owner_Number:</label>
                        <input type="number" id="Owner_No_delete" name="textfield" value="">
                        
                        <label for="textfield" style = "padding-top:3%">Owner_Name:</label>
                        <input type="text" id="Owner_Name_delete" name="textfield" value="">
                        
                        <label for="textfield" style = "padding-top:3%">Owner_Tel:</label>
                        <input type="number" id="Owner_Tel_delete" name="textfield" value="">
                        
                        <label for="textfield" style = "padding-top:3%">Owner_Address:</label>
                        <input type="text" id="Owner_Address_delete" name="textfield" value=""><br>

                        <input type="submit" class="btn btn-primary" id = "delete_Owner" style = "margin-top : 20px"  value = "submit">
                    </div>
            </div>
        </div>

        <div style = "background-image: url('https://w7.pngwing.com/pngs/354/1005/png-transparent-low-poly-polygon-texture-blues-abstract-background-big-lingge-blue-and-white-abstract-art-blue-triangle-computer.png'); background-repeat: repeat-x; background-position: center; background-size: contain; ">
            <div style = "background-color: rgba(133, 133, 133, 0.311);">
                <div>
                    <h1 style = "text-align: center; color: rgb(253, 253, 253); padding-top:2%" id = "section_2" >Delete from Artist Table</h1>
                    <h3 style = "text-align: center; color: rgb(253, 253, 253); padding-top:3%; padding-bottom: 3%;" >Condition/s with which a record is to be deleted</h3>
                </div>
                    <div class = "container_1" >
                        <label for="textfield" style = "padding-top:3%; color:black">Artist_Number:</label>
                        <input type="number" id="Artist_No_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color:black">Artist_Name:</label>
                        <input type="text" id="Artist_Name_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color:black">Artist_CoB:</label>
                        <input type="text" id="Artist_CoB_delete" name="textfield" value="">
                        
                        <label for="textfield" style = "padding-top:3%; color:black">Artist_YoB:</label>
                        <input type="text" id="Artist_YoB_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color:black">Artist_YoD:</label>
                        <input type="text" id="Artist_YoD_delete" name="textfield" value=""><br>

                        <input type="submit" class="btn btn-primary" id="delete_Artist" style = "margin-top : 20px" value = "submit">
                    </div>
            </div>
        </div>

        <div style = "background-image: url('https://www.ajc.com/resizer/lCcmXrDG0u1Vh0v_9L_wPNhsJV0=/814x458/cloudfront-us-east-1.images.arcpublishing.com/ajc/QJ5SBDXZQFANXONWHLZIFEZ3GI.jpg'); background-repeat: repeat-x; background-position: center; background-size: contain; ">
            <div style = "background-color: rgba(133, 133, 133, 0.608);">
                <div>
                    <h1 style = "text-align: center; color: rgb(253, 253, 253); padding-top:2%" id = "section_3">Delete from Customers</h1>
                    <h3 style = "text-align: center; color: rgb(253, 253, 253); padding-top:3%; padding-bottom: 3%;" >Condition/s with which a record is to be deleted</h3>
                </div>
                    <div class = "container_1" >
                        <label for="textfield" style = "padding-top:3%; color :rgb(255, 255, 255)">Customer_Number:</label>
                        <input type="number" id="Cus_No_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color :rgb(255, 255, 255)">Customer_Name:</label>
                        <input type="text" id="Cus_Name_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color :rgb(255, 255, 255)">Customer_Address:</label>
                        <input type="text" id="Cus_Address_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color :rgb(255, 255, 255)">Customer_Category:</label>
                        <input type="text" id="Cus_Category_delete" name="textfield" value=""><br>

                        <input type="submit" class="btn btn-primary" id = "delete_Customer" style = "margin-top : 20px"  value = "submit">
                    </div>
            </div>
        </div>

        <div style = "background-image: url('https://www.ajc.com/resizer/lCcmXrDG0u1Vh0v_9L_wPNhsJV0=/814x458/cloudfront-us-east-1.images.arcpublishing.com/ajc/QJ5SBDXZQFANXONWHLZIFEZ3GI.jpg'); background-repeat: repeat-x; background-position: center; background-size: contain; ">
            <div style = "background-color: rgba(133, 133, 133, 0.608);">
                <div>
                    <h1 style = "text-align: center; color: rgb(253, 253, 253); padding-top:2%" id = "section_4">Delete from Painting Table</h1>
                    <h3 style = "text-align: center; color: rgb(253, 253, 253); padding-top:3%; padding-bottom: 3%;" >Condition/s with which a record is to be deleted</h3>
                </div>
                    <div class = "container_1" >
                        <label for="textfield" style = "padding-top:3%; color :rgb(255, 255, 255)">Painting_Number:</label>
                        <input type="number" id="Paint_No_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color :rgb(255, 255, 255)">Painting_Title:</label>
                        <input type="text" id="Paint_Title_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color :rgb(255, 255, 255)">Theme:</label>
                        <input type="text" id="Paint_Theme_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color :rgb(255, 255, 255)">Price:</label>
                        <input type="text" id="Paint_Price_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color:black">Artist_Number:</label>
                        <input type="number" id="Paint_Artist_No_delete" name="textfield" value=""><br>

                        <input type="submit" class="btn btn-primary" id = "delete_Painting" style = "margin-top : 20px"  value = "submit">
                    </div>
            </div>
        </div>

        <div style = "background-image: url('https://www.ajc.com/resizer/lCcmXrDG0u1Vh0v_9L_wPNhsJV0=/814x458/cloudfront-us-east-1.images.arcpublishing.com/ajc/QJ5SBDXZQFANXONWHLZIFEZ3GI.jpg'); background-repeat: repeat-x; background-position: center; background-size: contain; ">
            <div style = "background-color: rgba(133, 133, 133, 0.608);">
                <div>
                    <h1 style = "text-align: center; color: rgb(253, 253, 253); padding-top:2%" id = "section_5">Delete from Hire</h1>
                    <h3 style = "text-align: center; color: rgb(253, 253, 253); padding-top:3%; padding-bottom: 3%;" >Condition/s with which a record is to be deleted</h3>
                </div>
       
                    <div class = "container_1" >

                        <label for="textfield" style = "padding-top:3%; color :rgb(255, 255, 255)">Hire_Number:</label>
                        <input type="number" id="Hire_No_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color :rgb(255, 255, 255)">Painting_Number:</label>
                        <input type="number" id="Hire_Paint_No_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color :rgb(255, 255, 255)">Customer_Number:</label>
                        <input type="number" id="Hire_Cus_No_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color :rgb(255, 255, 255)">Hire_Date:</label>
                        <input type="text" id="Hire_D_H_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color :rgb(255, 255, 255)">Due_Date:</label>
                        <input type="text" id="Hire_D_D_delete" name="textfield" value=""><br>

                        <input type="submit" class="btn btn-primary" id = "delete_Hire" style = "margin-top : 20px"  value = "submit">
                    </div>
            </div>
        </div>

        <div style = "background-image: url('https://www.ajc.com/resizer/lCcmXrDG0u1Vh0v_9L_wPNhsJV0=/814x458/cloudfront-us-east-1.images.arcpublishing.com/ajc/QJ5SBDXZQFANXONWHLZIFEZ3GI.jpg'); background-repeat: repeat-x; background-position: center; background-size: contain; ">
        <div style = "background-color: rgba(133, 133, 133, 0.608);">
            <div>
                <h1 style = "text-align: center; color: rgb(253, 253, 253); padding-top:2%" id = "section_6">Delete from Owns</h1>
                <h3 style = "text-align: center; color: rgb(253, 253, 253); padding-top:3%; padding-bottom: 3%;" >Condition/s with which a record is to be deleted</h3>
            </div>
                    <div class = "container_1" >

                        <label for="textfield" style = " padding-top:3%; color :rgb(255, 255, 255)">Own_Number:</label>
                        <input type="number" id="Own_No_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color :rgb(255, 255, 255)">Painting_Number:</label>
                        <input type="number" id="Own_Paint_No_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color :rgb(255, 255, 255)">Owner_Number:</label>
                        <input type="number" id="Own_Owner_No_delete" name="textfield" value="">

                        <label for="textfield" style = "padding-top:3%; color :rgb(255, 255, 255)">Submission_Date:</label>
                        <input type="text" id="Own_Return_Date_delete" name="textfield" value=""> <br>

                        <input type="submit" class="btn btn-primary" id="delete_Owns"  style = "margin-top : 20px"  value = "submit">
                    </div>
            </div>
        </div>
    </body>
    <script src = "\controller\front_end_Controller.js"></script>
</html>